/* 
    Created on : 24.03.2015, 21:21:20
    Author     :sana
*/
@font-face {
    font-family: "pk";
    src: url("../fonts/pk/pk.eot");
    src: url("../fonts/pk/pk.eot?#iefix")format("embedded-opentype"),
        url("../fonts/pk/pk.woff") format("woff"),
        url("../fonts/pk/pk.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pk1";
    src: url("../fonts/pk1/pk1.eot");
    src: url("../fonts/pk1/pk1.eot?#iefix")format("embedded-opentype"),
        url("../fonts/pk1/pk1.woff") format("woff"),
        url("../fonts/pk1/pk1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html{

}
body , html{
    padding: 0px;
    margin: 0px;
    font: 14px pk1,arial;
    text-shadow: 0px 0px 0px #CCC;
    color: #555;
    height: 100%;
    min-width: 1170px;
    min-height: 1000px;
}
body{
    //background: url(../imgx/sk1.jpg)no-repeat 3px -24px;
}

h2{
    font-size: 1.3em;
    margin: 0;
    padding: 25px 0;
    font-family: pk,arial;
}
.h3-norm h3{
    font-size: 1.1em;
    color: #555;
    font-family: pk,arial;
    text-transform: none;
}
h4{
    font-family: pk1,arial;
    color: #777;
    font-size: 17px;
    line-height: 1.3;
}
h5{  font-size: 1.2em;
     font-family: pk,arial;
     color: #777;
}
i{
    font-size: 1.1em; 
    color: #777;position: 
        relative;
    top: 0;
    /* display: table-cell; */    
    /* vertical-align: middle; */
}
.border{
    border:2px solid #eee;
    margin-left: -15px;
    padding: 0px 0 5px 20px;
}

.stolby h3{
    font: 21px pk,arial;
    color: #555;  
}
.panel, .panel-default, .form-control {border-radius: 0 !important; }
/************verh-menu*************************/

.verh_meny{
    position: fixed;
    height: 96px;
    width: 100%;
    box-shadow: 0px 0px 6px 1px #555;
    background: #fff;
    z-index: 100;
    display: table;
    /* margin-right: -12px; */
}
.verh_meny div{}

.wrap,.blok_stolby{
    /* min-width: 1200px; */
    width: 1170px;
    margin: 10px auto;
    position: relative;
    /* overflow: hidden; */
}
.r_log{
    position: absolute;
    top: 0px;
    right: 22px;
}

.img_logo{
    float: left;
    margin-right: 65px;
}
.add-men{
    position: relative;
    top: 27px;
    z-index: 10;
    margin: -3px;
    font-family: pk,arial;
    color: #e9a30b;
    font-size: 1.1em;
    padding: 0px;
}
.menu .nav li{
    /* padding: 4px 51px 0 0; */
    /* text-align: right; */
    /* text-align: justify; */
    /* width: 217px; */
    /* padding: 0 0 0 0px; */
    padding: 5px 0  0 76px;
    display: block;
    margin-left: -7px;
}
.menu-blue .nav li{
    /*padding: 4px 51px 0 0; */
    padding: 4px 0 0 0 ;
}
.nav li a{
    font-family: pk,arial;
    font-size: 1em;
    color: #0AAFDE;
}
.menu .nav > li > a:hover,
.menu .nav > li > a:focus {
    /* text-decoration: underline; */
    background-color: #FFF;
    color: #FFA400;
}


/************************************/
.blok_stolby{
    position: relative;
    z-index: 20;
    margin-top: -1230px;
    //height: 1000px;
}
.stolby{
    line-height: 1em;
    columns: 250px auto;
    -moz-columns: 250px auto;
    -webkit-columns: 250px auto;
    break-after: column;   
}
.stolby div{
    width: 272px;
    display: inline-block;
    background: #FFF;
    margin: 11px 2px;
    vertical-align: top;
    /* box-shadow: 0px 0px 7px 3px #CCC; */
}

.stolby .list{
    padding: 10px 10px;
    border:1px solid ;
    border-color: #fff;
}
.stolby .list:hover{
    border:1px solid ;
    border-color: #74dbff;
}
.stolby .list img{
    width: 250px;
    height: 160px;
}
.stolby .list a{
    color:#555;
}
.stolby .list a:hover{
    font: 14px/24px pk,arial;
    color:#02b0ed;
}

.stolby .list p{
    font: 14px/24px pk1,arial;
}

/************************************/
.blok_stolby1{
    position: relative;
    z-index: 20;
    margin-top: -3px;
}
.stolby1{
    line-height: 1em;
    columns: 410px auto;
    -moz-columns: 410px auto;
    -webkit-columns: 410px auto;
    break-after: column;   
}
.stolby1 .ten-sl{
    width: 410px;
    display: inline-block;
    background: white;
    margin: 11px 2px;
    vertical-align: top;
    padding: 4px 20px;
    border: 1px solid #7FC1EC;

}
.stolby1 .ten-sl:hover{background:#FAFFFF; }


.stolby1 .close-ot{
    position: absolute;
    top: 4px;
    right: 6px;
    font-weight: 400;
    font-size: 0.7em;
}
.stolby1 .h4 a{text-decoration: none;color:#777;cursor: pointer;}
.stolby1 .h4 a:hover{text-decoration: none;color:#FFA400;cursor: pointer;}

.stolby1 .h4{
    position: relative;
    font-family: pk1;
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-transform: uppercase;
    text-shadow: 0 0 1px #999;
}
.stolby1 .h5{
    font-family: pk1;
    font-size: 14px;
    /* text-shadow: 0 0 1px #999; */
    padding: 0;
    margin: 4px 0;
}
.stolby1 .text-blok{
    text-align: justify;
    font-style: italic;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 15px 0 20px 0;
    color: #999;
}
.stolby1 .text-blok b{
    font-style: normal;
    
    color: #777;
    padding: 0 5px 0 0;
}

.stolby1 .list{
    padding: 10px 10px;
    border:1px solid ;
    border-color: #fff;
}
.stolby1 .list:hover{
    border:1px solid ;
    border-color: #74dbff;
}
.stolby1 .list img{
    width: 250px;
    height: 160px;
}
.stolby1 .list a{
    color:#555;
}
.stolby1 .list a:hover{
    font: 14px/24px pk,arial;
    color:#02b0ed;
}

.stolby1 .list p{
    font: 14px/24px pk1,arial;
}

/***********background******************/
.baba{
    position: relative;
    top: 0px;
    z-index: 5;
    left: 45%;
}

.bkg_m{
    background: url("../img/backg3.jpg") no-repeat 0 86px;
    width: 100%;
    height: 1680px;
    overflow: hidden;
}
/***********center*********************/

.center{
}
.line-x{
}

h1.h1-line{ font-size: 22px;  text-align: center;  font-family: pk1,arial;  color: #777; }
h1.h1-line {  overflow: hidden;  position: relative;  margin: 0;  text-align: center;  white-space: nowrap;  text-shadow: 1px 0px 2px #ccc;  /* text-align: left; */}
h1.h1-line:before,
h1.h1-line:after {  content: '';  display: inline-block;  position: relative;  top: -1px;  width: 51%;  height: 2px;  vertical-align: middle;  background: #ccc;}
h1.h1-line:before {  left: -30px;  margin-left: -50%;}
h1.h1-line:after {  left: 30px;  margin-right: -50%;}

h1{ font-size: 22px;  text-align: center;  font-family: pk1,arial;  color: #777; }
h1 {  overflow: hidden;  position: relative;  margin: 0;  text-align: center;  white-space: nowrap;  text-shadow: 1px 0px 2px #ccc; }
h1:after {  content: '';  display: inline-block;  position: relative;  top: -1px;  width: 51%;  height: 2px;  vertical-align: middle;  background: #ccc;}
h1:after {  left: 30px;  margin-right: -50%;}


span.h1-line{ font-size: 22px;  text-align: center;  font-family: pk1,arial;  color: #777; }
span.h1-line{  overflow: hidden;  position: relative;  margin: 0;  text-align: center;  white-space: nowrap;  text-shadow: 1px 0px 2px #ccc;  /* text-align: left; */  display: block;}
span.h1-line:before,
span.h1-line:after {  content: '';  display: inline-block;  position: relative;  top: -1px;  width: 51%;  height: 2px;  vertical-align: middle;  background: #ccc;}
span.h1-line:before {  left: -30px;  margin-left: -50%;}
span.h1-line:after {  left: 30px;  margin-right: -50%;}

span.lefth1{ font-size: 22px;  text-align: center;  font-family: pk1,arial;  color: #777; }
span.lefth1 {  overflow: hidden;  position: relative;  margin: 0;  text-align: center;  white-space: nowrap;  text-shadow: 1px 0px 2px #ccc; }
span.lefth1:after {  content: '';  display: inline-block;  position: relative;  top: -1px;  width: 51%;  height: 2px;  vertical-align: middle;  background: #ccc;  overflow: hidden;}
span.lefth1:after {  left: 30px;  margin-right: -50%;  /* overflow: hidden; */}

.form-1{
    margin-left: 24px;
}

.inp-brad{
    /* position: absolute; */
    left: 472px;
    top: 248px;
    padding: 14px 58px;
    border-radius: 0;
    color: #DBF8FF;
    text-shadow: 1px 0px 2px #555;
}
.form-zakaz{
    height: 325px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: #CCC;
    position: relative;
    /* padding-bottom: 20px; */
}
.form-zakaz p{
    font-family: pk;
    font-size: 1.0em;
    color: #555;
    padding-top: 30px;
}
.tbl1 td{
    vertical-align: top;
}
.inp-rad{margin-bottom: 12px;width: 216px;position: relative;}
.inp-rad img{position: absolute; right:7px;z-index: 2;top: 8px;}
.chislo{
    float: left;
    font-size: 1.3em;
    padding: 7px 9px;
    font-family: pk;
    color: #999;
    margin-right: 23px;
}

span.chislo {}

.clearr{
    clear:both;
    width: 100%;
    height: 45px;    
}

/************premi***************/
.premi{margin-top: 35px;}
.premi p{
    padding: 27px 0;
    text-align: center;
    color: #fff;
    font-family: pk,arial;
    font-size: 1.2em;
    text-shadow: 1px 0px 2px #555;
}
.premi .hapka1{ height: 68px; background: #954AC8;}
.premi .hapka2{ height: 68px; background: #FCB241;}
.premi .hapka3{ height: 68px; background: #DF2735;}
.premi img{ width: 100%;}
.premi .text{
    padding: 20px 15px 0 15px;
    border: 1px solid #E5E5E5;
    font: 1.1em/1.3em pk1;
    text-align: center;
    color: #8E8E8E;
    height: 135px;
    /* width: 90%; */
}
/*************otzyv****************/
.otzyv p{
    padding: 27px 0;
    text-align: center;
    color: #fff;
    font-family: pk,arial;
    font-size: 1.2em;
    text-shadow: 1px 0px 2px #555;
}
.otzyv img{ width: 100%; /* display: block; */ /* height: 100%; */}
.otzyv .h-3{padding: 20px 0 8px 0;}
.otzyv a{
    font-size: 1.3em;
}

.otzyv .text{
    padding-top: 16px;
    font: 1.1em/1.3em pk1;
    text-align:left;
    color: #8E8E8E;
}
/**********************************/
.center1{  padding-top: 105px;  background: #f8f9f9; position: relative;}
.center2{  padding-top: 105px;  position: relative;}
.section{ width: 1170px; margin: 0 auto;}
.section .section-img{ position: relative; top: -47px; left: 544px;}
.section .text{ /* margin-top: 35px; */ color:#555; }
.section .f-nav{ text-align: center;  padding: 25px 0 40px 0; /* height: 25px; */}
/**********************************/

.p-dob-gos .text{color:#888;}
.p-dob-gos .row{margin-top: 35px;}
.p-dob-gos .text1{padding-left: 3px;font-family: pk,arial;color:#777;}
.p-dob-gos .h5{display: block; color:#298eca;font: 17px pk1,arial;}
.p-dob-img{float:left;display:block;width: 160px;height: 160px;border:1px solid #ddd;}
.p-dob{display: block; padding: 5px 10px 10px 180px;border:1px solid #ddd; height: 160px}
.ins-kn{
    text-shadow: 1px 0px 2px #555;
    padding: 15px 40px;
    font-size: 1.4em;
    color:#fff;
    border-radius: 0;
    margin:0 0 0 428px;
    background: #fdc512; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdc512 0%, #fda40c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdc512), color-stop(100%,#fda40c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdc512 0%,#fda40c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdc512 0%,#fda40c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdc512 0%,#fda40c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdc512 0%,#fda40c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc512', endColorstr='#fda40c',GradientType=0 ); /* IE6-9 */
    /* border: none; */
}
/************footer**********/
.footer{
    background:#087dc2;
    width: 100%;
    height: 60px;
    position: relative;  
}
.footer .menu2{float: right; line-height: 60px; color: #FFF;margin-right: 24px;}
.footer a{color: #fff;}
.footer a:hover{color: #red;}
.footer .wrap{ margin-top: 40px;}
.footer img{position: absolute; top: 5px;}

/****************************************/

.blok-shaka-otzyv{
    width: 68%;
    position: absolute;
    top: 133px;
    margin-left: -541px; 
    left: 50%;
}
.blok-shaka-otzyv p{
    font-size: 24px;
    margin-top: 30px;
    /* color: #777; */
}
.blok-shaka-otzyv .h-1 {
    font-size: 32px;
    font-family: pk,arial;
    padding: 10px 0;
}
.blok-shaka-otzyv .h-4{
    font-size: 18px;
    font-family: pk,arial;
}
.blok-shaka-otzyv .ten-h{
    color: #fff;
    text-shadow: 0px -1px 5px #03206C;
}
.blok-shaka-otzyv i{
    /* text-align: center !important; */

    font: italic 1em/1.5em pk1;
}
.form-registr{
    border: 1px solid #FFBE74;
    position: relative;
    z-index: 5;
    border-radius: 5px;
    padding: 0 20px 40px;
    text-align: center;
    background: url(../img/form-bkg.png);
    /* opacity: 0.8; */
    max-width: 370px;
}
.form-registr p{
    text-align: center;
    font-family: pk;
    /* padding:  0 20px 28px; */
    color: #777;
}
.form-registr .btn{
    background: #e90e5e;
    margin: 3px 0 20px;
    color: #fff;
    text-shadow: 0px -1px 3px #5E5B5B;
}
.form-registr .btn:hover{
    background: #CB0447; 
}

.form-registr input{
    /* padding: 20px; */
    margin: 20px 0;
    background: #fff !important;
    position: relative;
    color: #000;
}

.form-registr form{
    position: relative;
    z-index: 100;
}
#myCarousel .n_xx{
    position: absolute;
    top: 113%;
    width: 115px;
    left: 4px;
}

#myCarousel-1 .n_xx{
    position: absolute;
    top: 84%;
    width: 74px;
    left: 50%;
    z-index: 20;
    margin-left: -52px;
}
/********************************************/
.menu-blue{

}
.menu-blue nav{

}
.menu-blue ul{
    /* margin-bottom: -10px; */
    position: relative;
    top: 2px;
    /* height: 82px; */
}
.menu-blue li a{
    font-family: pk1,arial;
    /* text-shadow: 0px 1px 0px #999; */
}
.menu-blue li a:hover{
    background: #ffd218;
    text-shadow: 0px 1px 0px #999;
}
/**********************************/
.blue-polosa{
    height: 50px;
    width: 100%;
    background: #ebf9fe;

}
/**********************************/
h1.lefth1{ text-align: left; width: 100%; padding-left: 0px; margin-bottom: 30px; /* overflow: hidden; */}
span.lefth1 { text-align: left; width: 63%; padding-left: 0px; margin-bottom: 30px; /* overflow: hidden; */}
h1.lefth1:before, span.lefth1:before{ width: 51%;}
h1.lefth1:after{ width: 100%;}
span.lefth1:after{ width: 63%;}

.infoblok-right img{width:100%;}
.infoblok-right h3{margin: 40px 0 20px 0;}
.ul-vl td{vertical-align: top;}
.ul-vl a{ font-family: pk1,arial;margin-bottom: 0;color: #22A8CF; font-size: 1.1em;}
.ul-vl .li-vl{margin-bottom: 1px;}
.ul-vl{border:2px solid #eee;/* margin: -10px; *//* padding: 4px; */}
.ul-vl ul{margin: 0;padding: 0;}
.ul-vl li{list-style: none;margin-bottom: 20px;}
.ul-vl img{
    float: left;
}
.ul-vl .text img{margin-top: 5px;}
.ul-vl .img-sm{width: 60px; float: left;  margin-right: 10px;}
.ul-vl .text{ margin-top: -3px;}
.ul-vl .text1{}
.infoblok-right{font: 1em/2em pk1,arial; padding-left: 30px;}

.caret1{
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background: url("../img/v1.png") no-repeat 0px 2px;
    height: 10px;
    width: 13px;
    border: none;}
.nav > li > a:hover, .nav > li > a:focus{
    background: rgba(255, 210, 24, 0.74);
    padding: 4px 15px;    
    margin-top: 6px;
    color: #090B0B;
    text-shadow: none;
}
.open > .dropdown-menu {
    display: block;
    position: absolute;
    top: 34px;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: rgba(255, 210, 24, 0.76);
    padding: 5px 15px;
    margin-top: 6px;
}
/****************************************/
.cat-g-all .ramka{
    border: 1px solid #ECECEC;
    padding: 10px;
    margin-left: 18px;
    width: 31%;
}

.cat-g-all .ramka:hover{
    /* border: 1px solid #EE0; */
    /* box-shadow: 1px 1px 5px #DDD; */
    /* padding: 10px; */
    /* background: #F5F5F5; */
    border-color: #66afe9;    outline: 0;    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    transition: 1s;
}
.cat-g-all .ramka:not(:hover){
    transition: 1s; 
}
.cat-g-all .ramka1{
   border: 1px solid #ffd500;
    padding: 10px;
    margin-left: 20px;
    width: 31%;
     background: none repeat scroll 0% 0% #fffff3;
    margin-bottom: 20px;
    transition: 0.5s;
}
.ramka2_1{
    border: 1px solid #ffd500;
    background: none repeat scroll 0% 0% #fffff3;
    margin-bottom: 20px;
}
.ramka2{
     border: 1px solid #ffd500;
    padding: 25px;
     background: none repeat scroll 0% 0% #fffff3;
    margin-bottom: 20px;
}
.ramka2 a{
    font:14px/17px pk1,arial;
    text-shadow: 0 0 1px #ccc;
}
.cat-g-all .ramka1:hover{
    border: 1px solid #EE0;
    box-shadow: 0px 0px 5px #FCF1C3;
    padding: 10px;
    background: #fffcf0;
}

.ramka1:hover .htora_text{
    opacity: 0.9;
    transition: 0.5s;
}

.cat-g-all .text{
    color: #ADADAD;
    /* vertical-align: top; */
}
.cat-g-all .gl{width: 100%;}

.cat-g p{
    padding: 3px  0;   
}
.dist{

}

.navi-pan{
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.navi-pan li{
    margin-bottom: 10px;
}
.knop-vid{float:right;margin-right: -36px;margin-top: -2px;height: 24px;overflow: hidden;}
.knop-vid-l{float:left;margin-left:0px;margin-top: -2px;}
.knop-vid1{background: url(../img/kubiki.png)no-repeat 0px 3px; padding: 3px 12px;margin-right: 6px;}
.knop-vid1:hover{background: url(../img/kubiki.png)no-repeat 0px -24px; padding: 0px 12px;margin-right: 6px;}
.knop-vid2{background: url(../img/kubiki.png)no-repeat 0 -45px;padding: 3px 12px;margin-right: 6px;}
.knop-vid2:hover{background: url(../img/kubiki.png)no-repeat 0px -69px; padding: 3px 12px;margin-right: 6px;}
.knop-vid3{background: url(../img/kubiki.png)no-repeat 0 -93px;padding: 4px 12px; }
.knop-vid3:hover{background: url(../img/kubiki.png)no-repeat 0px -117px; padding: 4px 12px;}
.knop-vid4{background: url(../img/zn3.png)no-repeat 0 9px;padding: 6px 19px; }
.knop-vid4:hover{background: url(../img/zn3.png)no-repeat 0px -23px; padding: 6px 19px;}
.knop-vid5{background: url(../img/zn2.png)no-repeat 0 9px;padding: 6px 19px; }
.knop-vid5:hover{background: url(../img/zn2.png)no-repeat 0px -23px; padding: 4px 19px;}
.knop-vid6{background: url(../img/zn1.png)no-repeat 0 9px;padding: 6px 16px; }
.knop-vid6:hover{background: url(../img/zn1.png)no-repeat 0px -23px; padding: 4px 19px;}

.baner{
    margin-left: -16px;

    margin-top: 20px;
}
.vse{padding: 25px; text-align: center; font-size: 1.2em;}
.vse_sm{padding: 0px 25px 12px; text-align:left; font-size: 1em;display: block;}
.vse_sm a{margin-right:25px;margin-left: 7px;/* padding: 5px; */}

.vse a:hover,
.vse_sm a:hover{border-bottom: 1px dashed #FFA400;}

.vse a,
.vse_sm a{border-bottom: 1px dashed #0874C2;}

.vse_sm a:hover,
.vse a:hover{
    font-family: pk1,arial;
    color: #FFA400;
    text-decoration: none;
}
.no-active{color:#999;}
.pagination{ padding: 25px; text-align: center; font-size: 1.15em;}
.pagination>li>a{border: none;}
.pagination>.active>a{
    background: none;
    border: 2px solid #A7D4FF;
    color: #818181;
    padding: 1px 7px;
    margin-top: 3px;
    font-weight: 600;
}
.pagination > li > a:hover{background: #fff;color: #00B2F0; }
/**********************************************/
.blok-b{
    /* position: absolute; */
    /* bottom: 10px; */
    left: -12px;
    padding: 0px;
    top: 135px;
}
.blok-b>li{
    padding: 8px 8px;
    margin-left: 17px;
}
.blok-b>li>a{
    font: 1em pk1;
    border-bottom: 1px dashed #0AAFDE;
    padding: 0px 4px;
    margin-left: 2px;
}
.blok-b>li>a:hover{

}
.blok-predl{
    width: 101%;
    margin-top: 20px;
    border:2px solid #eee;
    padding: 10px 0;
    position: relative;
    margin-left: 0px;
    transition: 1s;
}
.blok-predl:hover{
    border: 2px solid #FFCE03;
    box-shadow: 0 0 12px 0px #BBBBBB;
    transition: 1s;
}

.blok-s .text5{font-size: 1.2em;}
.blok-s .text5:before {
    content: '';
    background: url(../img/rub.png)no-repeat;
    padding: 10px;
    position: relative;
    float: left;
    top: 13px;
}
.rubl:before{
    content: '';
    background: url(../img/rub.png)no-repeat;
    padding: 10px;
    position: relative;
    float: left;
    top: 5px;
}
.circ:before{
    content: '';
    background: url(../img/circ.png)no-repeat;
    padding: 10px;
    position: relative;
    float: left;
    top: 5px;
}
.ovr:before{
    content: '';
    background: url(../img/ovr.png)no-repeat;
    padding: 10px;
    position: relative;
    float: left;
    top: 5px;
}
.textx{
    clear:left;
    margin-bottom: 15px;
}


.blok-s em{
    font: 1.5em pk1;
}
.h-blok{
    padding: 2px 0;
}
.blok-s{float: left;}
.blok-predl .text-blok{ padding: 0 15px; color: #999;}
.blok-predl .gl{width: 200px;}
.blok-predl .cat-g{margin-left: 15px;}
.h-blok a{  border-bottom: 1px dashed #087dc2;  color: #087dc2;}
.h-blok a:hover{
    text-decoration: none;color:#e9a30b;
    border-bottom: 1px dashed #e9a30b;  color: #e9a30b;
} 
.row7{
    padding: 0px 0px 20px;
    display: block;
    width: 104%;
    margin-left: -18px;
}
.h-3 a{  font-size: 1.3em;}
.h-3{padding: 15px 6px 8px 0;}

.h-5 a{font-size: 1.2em;}
.h-5{padding: 15px 6px 8px 0;}

/*****************************************/
.r-74{ float: left; margin: 0px 0 10px 10px;}
.r-74 img{width:156px;height: 110px;}
.r-75{ float: left; margin: 0px 0 10px 10px;}
.r-75 img{width:152px;height: 104px;}
.vyb_file{
    position: absolute;
    right: -16px;
    bottom: 2px;
}
.min-icon{float: left; margin-right: 5px;}
.nomera p{
    padding: 0  0 10px 0;
}
.nomera .h5{
    /* padding: 0; */
    margin: 0;
    font: 1.1em pk,arial;
}
.nomera .text-y{
    font: 1.1em pk;
    background: #fefad0;
    padding: 5px 10px;
    display: inline-block;
}
.img-w{
    width: 130px;
    height: 100px;
    float: left;
}
.tab-a.table .tt{  background: #f7fdff;}
.tab-a th, .tab-a td{
    padding: 15px 8px !important;
    text-align: center;
}
.uslugi{}
.uslugi li{list-style-type: none;font-size: 1.1em;}
.uslugi  li:before { content:'';  padding: 0 8px 0 0; font-size: 1.4em;}
.uslugi .st{padding: 0 8px 0 0; font-size: 1.4em;}
/**********************/
.bord-left-dash{
    text-align: center;
    border-left: 1px dotted #77BAF8;
    display: block;
    width: 250px;
    float: right;
    margin-top: 49px;
}
.telef-sr{
    padding: 0;
    margin: 15px 0 0 0;
    font-size: 1.4em;
    text-shadow: 0 0px 1px #CCC;
    color: #AAA;
}
.podpis{
    font-size: 0.8em;
    margin-top: -5px;
    color: #AAA;
}
.modal-content{
    border: 2px solid #B5DAEB;
    box-shadow: 0px 0px 44px rgb(173, 173, 173);
}
.modal-header{
    border-bottom: none;
}
/****************akcii *************/
.ul-vl1 .panel-default {border:none;}
/****************************************/
.col12{
    /* width: 56px; */
    text-align: center;
    margin-top: 10px;
}
.col12 .mes{
    float: left;
    width: 44px;
    margin-left: 10px;
    /* font: 1.1em pk; */
    color: #555;
    /* background: #FCF1C3; */
}
.col12 .ryba56{
    width: 47px;
    height: 44px;
    background: #ccc;
}
.col12 .ryba561{
    width: 47px;
    height: 44px;
    background: #ccc;
    margin-top: 7px;
}
.col12 .mes-blok{
    background: #FCF1C3;
    margin-bottom: 10px;
    padding: 10px 0 5px 14px;
    margin-left: -10px;
}
.col12 .mes-op{
    height: 95px;
    float: left;
    border: 1px solid #ccc;
    margin-left: 10px;
    width: 314px;
}
.col14{
    padding: 30px;

    /* line-height: 1px; */
}
.col14 .text{
    float: left;
    font-size: 1.2em;
    line-height: 44px;
    margin-right: 54px;
}
.col14 .tex:before{

}
.fotoap,.plus{float:left;}
.fotoap a:before {
    content: "";
    height: 26px;
    background: url(../img/fotoap.jpg)no-repeat;
    width: 36px;
    float: left;
    margin-right: 5px;
    margin-top: 8px;
    margin-left: 20px;
}
.plus a:before{
    content: "";
    width: 26px;
    height: 26px;
    background: url(../img/plus.jpg)no-repeat;
    float: left;    
    margin-right: 11px;    
    margin-top: 8px;    
    margin-left: 0px;
}
.mes-sp{
    position: absolute;
    right: 17px;
    top: 6px;
    /* transition-delay: 3s; */
}
.mes-sp span{
    padding: 0px 0 0 6px;
    font-size: 0.9em;
    /* line-height: 0px; */
    vertical-align: middle;
}
.mes-sp input{
    margin-top: 3px;
    /* line-height: 5px; */
    vertical-align: middle;
}

.widthx50{
    width: 55%;
    float: left;
    margin: 0 10px;
}
.widthx501{
    width: 40%;
    float: left;
    margin: 0 10px;
}
.widthx50 .blok-all{
    display: table;
    margin-bottom: 25px;
    clear: both;
}
.widthx50 .border-blok-botoom{border-right: 1px solid #ccc; height: 80px;width: 100%;}
.widthx50 .blok-w p{float: left; width: 72%; display: block;font-size: 0.85em;color: #999;}
.widthx50 .blok-w1 p{float: left; width: 65%; display: block;font-size: 0.85em;color: #999;margin-top: 8px;}
.widthx501 p{float: left; width: 100%; display: block;font-size: 0.85em;color: #999;}
.widthx50 .blok-wr > img {
    /* width: 100px; */
    margin: -10px 10px;
    height: auto;
}
.border-blok{border-right: 1px solid #ccc;  border-bottom: 1px solid #ccc;}

.widthx501 input{ 
    width: 50%;
    margin-right: 20px;
    float: left;
}
.widthx50 input{ 
    width: 60%;
    margin-right: 20px;
    float: left;
}
.widthx501 label,.widthx50 label{line-height: 30px;}
.widthx501 .form-group , .widthx50 .form-group{
    margin-bottom: 15px;
}
.widthx50 img{
    max-width: 140px;
    max-height: 150px;
    margin: 20px 0;
}
.widthx50 .zakach{
 margin-bottom: 20px;
 font-size: 1.1em;
 margin-left: 11px;
 cursor: pointer;
}
.widthx50 .kn-b{width: 190px;}
.widthx50 h4, .widthx501 h4{/* text-shadow: 0 0 1px #818181; */font-size: 1.15em;margin: 4px 0;}
 /****************/
 .ser-blok{
     border: 2px solid #d9d9d9;
 
     padding: 15px;
     background: #f4f4f4;
}
 .ser-blok .h-4{
    font-size: 1.3em;
    text-shadow: 0 0 1px #555;
    margin-bottom: 10px;
}

.ser-blok:hover{background: #fff3c7;border: 2px solid #ffd700;}
 .ser-blok:hover .name{background: #fff3c7;}
 .ser-blok:hover .price{background: #fff3c7;}
 
 .ser-blok .szv{font-size: 0.9em !important;/* line-height: 32px; */margin-top: 5px;padding-left: 22px !important;text-decoration: underline;padding-right: 6px;}
 .ser-blok .szvx{margin-right: 5px;color: #555;text-decoration: underline;}
 .ser-blok i{font-size: 0.85em; color:#999;}
   .ser-blok  .goods { border-bottom: 2px dotted #BBB; text-align: right; margin-bottom: 10px;}
   .ser-blok  .name, .price { background-color: #fff; position:relative; top: 5px; background: #f4f4f4;}
   .ser-blok .price {  padding-left: 4px;}
   .ser-blok  .name { float: left; }
   .ser-blok hr{
    margin: 18px 0px 14px;
    border: 1px solid #ddd;
}