/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.03.2015, 21:37:57
    Author     sana
*/

.row-15{margin-top: 15px;margin-bottom: 15px;}
.row-20{margin-top: 20px;margin-bottom: 20px}
.row-35{margin-top: 35px;margin-bottom: 35px}
.small-pk{
    font-family: pk,arial
}
.bl-sw{
    width:150px;
    display: block;
    float: left;
}
.h3-max{
    font:1.3em/1.7em pk,arial; 
}
.zv-after:after{
    content: '*';
    color:red;
    padding: 2px;

}
.panel-default > .panel-heading {
    background: none;
}
.panel-group .panel-heading + .panel-collapse > .panel-body{
    border-top: none;
}    
a{outline: none !important;}
.knop-vid a{
    font-size: 1.7em;
    text-decoration: none;
}
.knop-vid .a:hover{
    color:#FAA432;
}
.baner img{width: 100%}
.pading-10{padding: 10px 0;}
.pading-20{padding: 20px 0;}
.r-slider{
    width: 1170px;

    margin: 0 auto;
    overflow: hidden;
    /* position: absolute; */
    z-index: 0;
}
.kn-b{
    padding: 8px 35px !important;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: pk,arial;
}

.collapsed .str-ac{
    background: url(../img/v.png) no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 7px 
}
.str-ac{
    background: url(../img/v.jpg) no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 7px
}

.bootstrap-select.btn-group .btn .caret {
    top: 47%;
    vertical-align: middle;
    margin-top: -2px;
    position: absolute;
    right: 5px;
}

.caret {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background: url("../img/v.png") no-repeat scroll 0% 0% transparent;
    height: 10px;
    width: 13px;
    border: none;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0px none;
    border-bottom: 0px solid;
    content: "";
}
/**************************************************/
.well-none .ramka{
    border: 1px solid #ccc;
    margin: 0px 18px;
    width: 22%;
    padding: 7px;
}
.stoproc img{width: 100%; height: 189px;}

#myCarousel1 .carousel-control.left{
    padding-top: 5.25%;
    width: 26px;
}

.img_dop{
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*************************************************/
.cont-okno{
    /* width: 29%; */
    border: 2px solid #5BC0DE;
    position: relative;
    box-shadow: 0 0 12px #555;
    margin: 5px;
    background: #FFF;
}
.cont-okno .img-close{ position: absolute; right: 4px; top: 4px;}
.cont-okno .img-close:hover{opacity: 0.7;}

.okno{  border: 1px solid #ccc;   margin: 27px 27px 15px 15px;  padding: 15px 5px;}
.okno p{
    padding: 12px 0 5px 0;
    font: 1.2em/1em pk,arial;
    color: #16b6ee;
    margin: 0;
}
.okno li{padding: 6px 0 0 0;color: #16b6ee;font: 0.9em pk1 ,arial;cursor: pointer;}
.okno a{color: #16b6ee;font: 0.9em pk1 ,arial;}
.okno a:href{text-decoration: underline;}
#results{
    width: 600px;
    position: absolute;
    right: 0;
    z-index: 5;
}
/*********************************************/
.baba1{
    position: absolute;    
    top: 111px;    
    right: 238px;    z-index: 5;    width: auto;
}
.bkg_m1{
    background: url("../img/backg4.jpg") no-repeat 0 86px;
    width: 100%;
    height: 620px;
}
/*********************************/
.blok-shaka-index{
    /* width:50%; */
    position: relative;
    top: 59px;
    margin-left: -582px;
    left: 50%;
    color: #fff;
    width: 582px;
    float: left;
}
.blok-shaka-index p{
    font-size: 33px;
}
.blok-shaka-index .h-1{
    font-size: 50px;
    font-family: pk,arial;
    padding-bottom: 20px;
}
.blok-shaka-index .h-4{
    font-size: 1.1em;
    width: 85%;
    height: 100px;
}

.p-plk{
    position: absolute;
    right: -2px;
    top: -10px;
}
.l-plk{
    position: absolute;
    top: -10px;
    left: -7px;
}
/********check box*****************/
input[type=checkbox].css-checkbox,
input[type=checkbox].css-checkbox1 {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label,
input[type=checkbox].css-checkbox1 + label.css-label1 {
    padding-left: 28px;
    height:18px; 
    display:inline-block;
    line-height:18px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label,
input[type=checkbox].css-checkbox1:checked + label.css-label1 {
    background-position: 0 -18px;
}

.css-label{ background-image:url(../img/elegant1.png); }
label{font-weight: 400 ;}
/***************************/
.navi{
    height: 37px;
    margin-left: 5px;
    width: 96%;
}
.top-lin{
    margin: 20px 10px 20px 0px;
    border-top: 1px solid #eee;
    /* padding: 10px; */
    width: 91%;
}
.h4-m{
    font: 1.15em/1.8em pk;
    color: #777;
}
/***************************/
.izb{position: relative;}
.izb:before{
    content:'+';
    background: #FAA432;
    padding: 0 3px;
    color: #fff;
    font-size: 0.7em;
    margin-right: 3px;
    position: relative;
    top: -1px;
}
/**********************************/
.htora {
    display:inline-block;  
    position:relative;
}
.htora .htora_text{
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color:#fff;
    padding:10px;
    //background-color:rgba(0,0,0,.3);
    opacity: 0.1;
}
.htora .htora_text:hover{opacity: 0.9;}
.htora .colr1{background: #9435cc;}
.htora .colr2{background: #f9b61e;}
.htora .colr3{background: #d13368;}
.htora .colr4{background: #18b6ec;}
.htora .colr5{background: #1cc1ae;}

.tbl1{}
.tbl2{margin-left: 40px; }


.htora h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}
.htora span {
    font-size:12px;
}

/**********************************/
.colory{color:#fe9f09;padding: 2px 0;}
.glyphicon-earphone:before, .glyphicon-plus:before{color:#FFF;
                                                   background: #F5B560;
                                                   font-size: 0.6em;padding: 2px 3px;position: relative;top: -2px;margin-right: -1px;}

.grad-blue-u:hover{background: #0193d8;
                   background: -moz-linear-gradient(top,  #0193d8 0%, #02a0e9 9%, #02bff0 96%, #01b2df 100%);
                   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0193d8), color-stop(9%,#02a0e9), color-stop(96%,#02bff0), color-stop(100%,#01b2df));
                   background: -webkit-linear-gradient(top,  #0193d8 0%,#02a0e9 9%,#02bff0 96%,#01b2df 100%);
                   background: -o-linear-gradient(top,  #0193d8 0%,#02a0e9 9%,#02bff0 96%,#01b2df 100%);
                   background: -ms-linear-gradient(top,  #0193d8 0%,#02a0e9 9%,#02bff0 96%,#01b2df 100%);
                   background: linear-gradient(to bottom,  #0193d8 0%,#02a0e9 9%,#02bff0 96%,#01b2df 100%);
                   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0193d8', endColorstr='#01b2df',GradientType=0 );
                   border: 0;
                   padding: 8px 23px;
                   text-shadow: 0 1px 1px #444;}
.grad-blue-u{
    background: #fcfaff;
    background: -moz-linear-gradient(top,  #fcfaff 0%, #08c9f2 0%, #6ddbf2 0%, #04c0ff 0%, #09b7f3 0%, #00bfe8 16%, #03b6f0 22%, #02bbf1 25%, #01aaeb 63%, #02aaeb 69%, #02a7e9 72%, #00a8e2 75%, #03a4ec 81%, #03a5ee 84%, #00a4eb 88%, #039ee0 100%, #26abec 100%, #56c7ff 100%, #26abec 101%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfaff), color-stop(0%,#08c9f2), color-stop(0%,#6ddbf2), color-stop(0%,#04c0ff), color-stop(0%,#09b7f3), color-stop(16%,#00bfe8), color-stop(22%,#03b6f0), color-stop(25%,#02bbf1), color-stop(63%,#01aaeb), color-stop(69%,#02aaeb), color-stop(72%,#02a7e9), color-stop(75%,#00a8e2), color-stop(81%,#03a4ec), color-stop(84%,#03a5ee), color-stop(88%,#00a4eb), color-stop(100%,#039ee0), color-stop(100%,#26abec), color-stop(100%,#56c7ff), color-stop(101%,#26abec));
    background: -webkit-linear-gradient(top,  #fcfaff 0%,#08c9f2 0%,#6ddbf2 0%,#04c0ff 0%,#09b7f3 0%,#00bfe8 16%,#03b6f0 22%,#02bbf1 25%,#01aaeb 63%,#02aaeb 69%,#02a7e9 72%,#00a8e2 75%,#03a4ec 81%,#03a5ee 84%,#00a4eb 88%,#039ee0 100%,#26abec 100%,#56c7ff 100%,#26abec 101%);
    background: -o-linear-gradient(top,  #fcfaff 0%,#08c9f2 0%,#6ddbf2 0%,#04c0ff 0%,#09b7f3 0%,#00bfe8 16%,#03b6f0 22%,#02bbf1 25%,#01aaeb 63%,#02aaeb 69%,#02a7e9 72%,#00a8e2 75%,#03a4ec 81%,#03a5ee 84%,#00a4eb 88%,#039ee0 100%,#26abec 100%,#56c7ff 100%,#26abec 101%);
    background: -ms-linear-gradient(top,  #fcfaff 0%,#08c9f2 0%,#6ddbf2 0%,#04c0ff 0%,#09b7f3 0%,#00bfe8 16%,#03b6f0 22%,#02bbf1 25%,#01aaeb 63%,#02aaeb 69%,#02a7e9 72%,#00a8e2 75%,#03a4ec 81%,#03a5ee 84%,#00a4eb 88%,#039ee0 100%,#26abec 100%,#56c7ff 100%,#26abec 101%);
    background: linear-gradient(to bottom,  #fcfaff 0%,#08c9f2 0%,#6ddbf2 0%,#04c0ff 0%,#09b7f3 0%,#00bfe8 16%,#03b6f0 22%,#02bbf1 25%,#01aaeb 63%,#02aaeb 69%,#02a7e9 72%,#00a8e2 75%,#03a4ec 81%,#03a5ee 84%,#00a4eb 88%,#039ee0 100%,#26abec 100%,#56c7ff 100%,#26abec 101%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfaff', endColorstr='#26abec',GradientType=0 );
    border: 0;
    padding: 8px 23px;
    text-shadow: 0 -1px 1px #444;
}

.grad-orang-u{
    background: #fff6f1;
    background: -moz-linear-gradient(top,  #fff6f1 0%, #fcde7c 0%, #f9cb1e 0%, #ffc412 9%, #ffbf1f 13%, #ffc50d 19%, #ffbf09 22%, #fdbf12 25%, #fcbc12 31%, #feb20f 59%, #fcae0c 63%, #fdad0e 69%, #fcac0d 72%, #fba706 75%, #fda811 78%, #fda714 81%, #ffa700 88%, #f8a80b 91%, #fbb93f 100%, #ffd379 100%, #fefef6 100%, #ffd379 101%, #fbb93f 102%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff6f1), color-stop(0%,#fcde7c), color-stop(0%,#f9cb1e), color-stop(9%,#ffc412), color-stop(13%,#ffbf1f), color-stop(19%,#ffc50d), color-stop(22%,#ffbf09), color-stop(25%,#fdbf12), color-stop(31%,#fcbc12), color-stop(59%,#feb20f), color-stop(63%,#fcae0c), color-stop(69%,#fdad0e), color-stop(72%,#fcac0d), color-stop(75%,#fba706), color-stop(78%,#fda811), color-stop(81%,#fda714), color-stop(88%,#ffa700), color-stop(91%,#f8a80b), color-stop(100%,#fbb93f), color-stop(100%,#ffd379), color-stop(100%,#fefef6), color-stop(101%,#ffd379), color-stop(102%,#fbb93f));
    background: -webkit-linear-gradient(top,  #fff6f1 0%,#fcde7c 0%,#f9cb1e 0%,#ffc412 9%,#ffbf1f 13%,#ffc50d 19%,#ffbf09 22%,#fdbf12 25%,#fcbc12 31%,#feb20f 59%,#fcae0c 63%,#fdad0e 69%,#fcac0d 72%,#fba706 75%,#fda811 78%,#fda714 81%,#ffa700 88%,#f8a80b 91%,#fbb93f 100%,#ffd379 100%,#fefef6 100%,#ffd379 101%,#fbb93f 102%);
    background: -o-linear-gradient(top,  #fff6f1 0%,#fcde7c 0%,#f9cb1e 0%,#ffc412 9%,#ffbf1f 13%,#ffc50d 19%,#ffbf09 22%,#fdbf12 25%,#fcbc12 31%,#feb20f 59%,#fcae0c 63%,#fdad0e 69%,#fcac0d 72%,#fba706 75%,#fda811 78%,#fda714 81%,#ffa700 88%,#f8a80b 91%,#fbb93f 100%,#ffd379 100%,#fefef6 100%,#ffd379 101%,#fbb93f 102%);
    background: -ms-linear-gradient(top,  #fff6f1 0%,#fcde7c 0%,#f9cb1e 0%,#ffc412 9%,#ffbf1f 13%,#ffc50d 19%,#ffbf09 22%,#fdbf12 25%,#fcbc12 31%,#feb20f 59%,#fcae0c 63%,#fdad0e 69%,#fcac0d 72%,#fba706 75%,#fda811 78%,#fda714 81%,#ffa700 88%,#f8a80b 91%,#fbb93f 100%,#ffd379 100%,#fefef6 100%,#ffd379 101%,#fbb93f 102%);
    background: linear-gradient(to bottom,  #fff6f1 0%,#fcde7c 0%,#f9cb1e 0%,#ffc412 9%,#ffbf1f 13%,#ffc50d 19%,#ffbf09 22%,#fdbf12 25%,#fcbc12 31%,#feb20f 59%,#fcae0c 63%,#fdad0e 69%,#fcac0d 72%,#fba706 75%,#fda811 78%,#fda714 81%,#ffa700 88%,#f8a80b 91%,#fbb93f 100%,#ffd379 100%,#fefef6 100%,#ffd379 101%,#fbb93f 102%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6f1', endColorstr='#fbb93f',GradientType=0 );

    text-shadow: 0 -1px 1px #444;
}

.grad-orang-u:hover{
    background: #fbb93f;
    background: -moz-linear-gradient(top,  #fbb93f -2%, #ffd379 -1%, #fefef6 0%, #ffd379 0%, #fbb93f 0%, #f8a80b 9%, #ffa700 12%, #fda714 19%, #fda811 22%, #fba706 25%, #fcac0d 28%, #fdad0e 31%, #fcae0c 37%, #feb20f 41%, #fcbc12 69%, #fdbf12 75%, #ffbf09 78%, #ffc50d 81%, #ffbf1f 87%, #ffc412 91%, #f9cb1e 100%, #fcde7c 100%, #fff6f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-2%,#fbb93f), color-stop(-1%,#ffd379), color-stop(0%,#fefef6), color-stop(0%,#ffd379), color-stop(0%,#fbb93f), color-stop(9%,#f8a80b), color-stop(12%,#ffa700), color-stop(19%,#fda714), color-stop(22%,#fda811), color-stop(25%,#fba706), color-stop(28%,#fcac0d), color-stop(31%,#fdad0e), color-stop(37%,#fcae0c), color-stop(41%,#feb20f), color-stop(69%,#fcbc12), color-stop(75%,#fdbf12), color-stop(78%,#ffbf09), color-stop(81%,#ffc50d), color-stop(87%,#ffbf1f), color-stop(91%,#ffc412), color-stop(100%,#f9cb1e), color-stop(100%,#fcde7c), color-stop(100%,#fff6f1));
    background: -webkit-linear-gradient(top,  #fbb93f -2%,#ffd379 -1%,#fefef6 0%,#ffd379 0%,#fbb93f 0%,#f8a80b 9%,#ffa700 12%,#fda714 19%,#fda811 22%,#fba706 25%,#fcac0d 28%,#fdad0e 31%,#fcae0c 37%,#feb20f 41%,#fcbc12 69%,#fdbf12 75%,#ffbf09 78%,#ffc50d 81%,#ffbf1f 87%,#ffc412 91%,#f9cb1e 100%,#fcde7c 100%,#fff6f1 100%);
    background: -o-linear-gradient(top,  #fbb93f -2%,#ffd379 -1%,#fefef6 0%,#ffd379 0%,#fbb93f 0%,#f8a80b 9%,#ffa700 12%,#fda714 19%,#fda811 22%,#fba706 25%,#fcac0d 28%,#fdad0e 31%,#fcae0c 37%,#feb20f 41%,#fcbc12 69%,#fdbf12 75%,#ffbf09 78%,#ffc50d 81%,#ffbf1f 87%,#ffc412 91%,#f9cb1e 100%,#fcde7c 100%,#fff6f1 100%);
    background: -ms-linear-gradient(top,  #fbb93f -2%,#ffd379 -1%,#fefef6 0%,#ffd379 0%,#fbb93f 0%,#f8a80b 9%,#ffa700 12%,#fda714 19%,#fda811 22%,#fba706 25%,#fcac0d 28%,#fdad0e 31%,#fcae0c 37%,#feb20f 41%,#fcbc12 69%,#fdbf12 75%,#ffbf09 78%,#ffc50d 81%,#ffbf1f 87%,#ffc412 91%,#f9cb1e 100%,#fcde7c 100%,#fff6f1 100%);
    background: linear-gradient(to bottom,  #fbb93f -2%,#ffd379 -1%,#fefef6 0%,#ffd379 0%,#fbb93f 0%,#f8a80b 9%,#ffa700 12%,#fda714 19%,#fda811 22%,#fba706 25%,#fcac0d 28%,#fdad0e 31%,#fcae0c 37%,#feb20f 41%,#fcbc12 69%,#fdbf12 75%,#ffbf09 78%,#ffc50d 81%,#ffbf1f 87%,#ffc412 91%,#f9cb1e 100%,#fcde7c 100%,#fff6f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbb93f', endColorstr='#fff6f1',GradientType=0 );
    text-shadow: 0 1px 1px #444;
}

/******************knoka vverh*********************/
/* Back to top button */
#back-to-top{
    position:fixed; 
    z-index: 9999999; 
    display:none; 
    bottom:70px; 
    right:15px; 
    cursor:pointer;
}
#back-to-top i{
    width: 50px; 
    height: 50px; 
    display:block; 
    color: #fff; 
    background: #26ADE4 ; 
    text-align:center; 
    font-size:16px; 
    line-height: 50px; 
    border-radius: 5px;
    -webkit-transition:  .3s all;
    -moz-transition:  .3s all;
    -ms-transition:  .3s all;
    -o-transition:  .3s all;
    transition:  .3s all;
}
#back-to-top i:hover{background:#333;}

.ten-sl{
    display: block;
    width: 100%;
    /* height: 34px; */
    padding: 6px 12px;
    font: 14px/24px pk1,arial;
    /* line-height: 1.42857143; */
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    /* border-radius: 4px; */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ten-sl:hover {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    transition: 1s;
}
.ten-sl:not(:hover){
    transition: 1s;
} 

.stolby .ten-sl img{
    width: 250px;
    height: 160px;
}
.stolby .ten-sl a{
    color:#555;
    line-height: 1.42857143;
}
.stolby .ten-sl a:hover{
    font: 14px/24px pk1,arial;
    color:#02b0ed;
    /* line-height: 1.428571; */
    text-shadow: 0px 1px 0px rgba(173, 227, 255, 0.94);
}

.stolby .ten-slt p{
    font: 14px/24px pk1,arial;
}
.ov-h{
    position: absolute;

    top: 95px;
    /* right: 0; */
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    min-width: 1170px;
}
.bootstrap-select .btn-default:focus{
    background: none;
}

/**************************** img size ***************************/
.r-74-link {
    display: inline-block;
    padding: 4px;
    margin: 0 0.5rem 1rem 0.5rem;
    background-color: #fff;
    line-height: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
